@import url(src/styles/navigation.css);
@import url(src/styles/cheats.css);
@import url(src/styles/forms.css);
@import url(src/styles/landing.css);
* {
    padding: 0;
    margin: 0;
}

:root {
    --background: #0b0b0e;
    --stroke: #2122303a;

    --glass-navigation: #0e0e1134;
    --glass-stroke: #0d0c115d;

    --selected-dark: #181827;
    --selected-light: #f3f3ff;
    --mono-blue: #2332ff;

    --font-xxxl: 12rem;
    --font-xxl: 3rem;
    --font-xl: 1.7rem;
    --font-lg: 1.5rem;
    --font-md: 1rem;
    --font-sm: .8rem;

    /*text style */
    --snow-light: #090931fa;
    --blue-snow: #f1f1fdfa;
    --aesthetic-white: #f8f7ff;
    --shadow-grayer: #8c8da1;
    --glow-shadow: #e9e7ff;

}
.bg-01 {
    background-image: url(src/assets/backgrounds/9b0f940b0e30e1049d5733d341da2337.gif);
    background-size: cover;
}
.bg-03 {
    background-color: var(--background);
}
footer {
    background-color: var(--glassNavigation);
    border: 1px solid var(--stroke);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    text-align: center;

    h1 {
        font-weight: bolder;
        font-size: var(--font-xl);
        color: var(--snow-light);
      }
      span {
        color: var(--shadow-grayer);
      }
    h2 {
        font-size: var(--font-xl);
        color: var(--aesthetic-white);
    }
    p {
        font-size: var(--font-md);
        color: var(--glow-shadow);
    }
    a {
        transition: .2s;
    }
    a:hover {
        color: var(--glow-shadow);
    }
}