#login-form {
    padding: 3rem;
    background-color: var(--glassNavigation);
    border: 1px solid var(--stroke);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    h2 {
        font-weight: 900;
        font-size: var(--font-lg);
        color: var( --snow-light);
    }
    p {
        font-size: var(--font-md);
        color: var( --snow-light);   
    }
    input {
        border: 1px solid var(--stroke);
        color: var(--snow-light);
        padding: .5rem;
        border-radius: .5rem;
        background-color: var(--glassNavigation);
    }
    input[type=number] {
        appearance: textfield;
    }
    button {
        padding: .5rem 4rem;
        border-radius: .5rem;
        text-align: center;
        background-color: var(--snow-light);
        transition: .2s;
    }
}