.form-default-style {
    width: 330px;
        padding: 1.5rem;
        background-color: var( --glass-navigation);
        border: 1px solid var(--stroke);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    input {
        width: 100%;
        background-color: var( --glass-navigation);
        border: 1px solid var(--stroke);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        padding: .6rem;
        color: var( --snow-light);
        border-radius: .5rem;
    }
    input:focus {
        outline: 1px solid var(--shadow-grayer);
    }
    button {
       background-color: var( --glass-navigation);
        border: 1px solid var(--stroke);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        padding: .5rem 3.5rem;  
        border-radius: .5rem;
        color: var(--aesthetic-white);
        transition: .2s;
    }
    button:hover {
        background-color: var(--aesthetic-white);
        color: var(--stroke);
    }
    a {
        transition: .2s;
        color: var(--mono-blue);
    }
    a:hover {
        border-bottom: 1px solid var(--mono-blue);
    }
    p{
        color: var(--shadow-grayer);
    }
    h1 {
        color: var(--aesthetic-white);
        font-size: var(--font-xl);
        font-weight: bolder;
    }
    fieldset {
        margin: .5rem;
    }
}