.navbar-style-main {
        width:  60%;
        background-color: var( --glass-navigation);
        border: 1px solid var(--stroke);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        animation: startModal .3s ease;
        padding: .5rem;
        border-radius: .5rem;


    input {
        background-color: var( --glass-navigation);
        border: 1px solid var(--stroke);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        animation: startModal .3s ease;
        padding: .5rem;
        color: var(--aesthetic-white);
        border-radius: .5rem;
    }
    input:focus {
        outline: none;
    }
    select {
        width: 20%;
        background-color: var( --glass-navigation);
        border: 1px solid var(--stroke); 
        padding: .5rem;
        color: var(--aesthetic-white);
        border-radius: .5rem;
    }
    select:focus {
    background: #101013;
    }
    option {
       background-color: var( --glass-navigation);  
       border: 1px solid var(--stroke); 
        padding: .5rem;
        color: var(--aesthetic-white);
        border-radius: .5rem;
    }
    h1 {
        color: var(--aesthetic-white);
        font-size: var(--font-xl);
        font-weight: bolder;
    }
    p {
        color: var(   --shadow-grayer);
        font-size: var(--font-md);
    }
    .searchbar {
        width: 80%;
        margin-right: .2rem;
    }
    .nav-btn {
        background-color: var( --glass-navigation);
        border: 1px solid var(--stroke);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        animation: startModal .3s ease;
        padding: .5rem  1rem;
        color: var( --aesthetic-white);
        border-radius: .5rem;
        transition: .2s;
    }
    .nav-btn:hover {
        color: var(--selected-dark);
        background-color: var(--selected-light);
        img {
            filter: invert(100);
        }
    }
}
.navbar-style-landing {
        nav {
            margin-top: 1rem;

            background-color: var( --glass-navigation);
            border: 1px solid var(--stroke);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            animation: startModal .3s ease;
            padding: .5rem;
        }
        img {
            width: 2.5rem;
        }
        h1 {
            color: var(--aesthetic-white);
            font-size: var(--font-lg);
            font-weight: bolder;
        }
        p {
            color: var(   --shadow-grayer);
            font-size: var(--font-md);
        }
        .nav-btn {
            color: var(--aesthetic-white);
            font-size: var(--font-md);
            border: 1px solid var(--stroke);
            padding: .5rem 1.5rem;
            border-radius: 2rem;
            transition: .2s;
        }
        .nav-btn:hover {
            padding: .5rem 2rem;
            color: var(--selected-dark);
            background-color: var(--aesthetic-white);
        }
        .logo {
            font-weight: bolder;
        }
}